@model IEnumerable<Post>
@{


}

<h2>Home Page!</h2>
<img src="~/context/static/haute-stock-styled-stock-library-white-rose-gold-3-FINAL-1024x683.jpg"/>
<div>
    <ul>
        @foreach(Post post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>

        }
    </ul>
</div>